@import "./tailwind.css";
@import "./base.css";
:root {
  --Primary: #FFB1A3;
  --White: #FFF;
  --BodyBackground: #FEF4F0;
  --TextColorBlack: #0F0D0B;
  --TextColorLightBlack: #58595B;
  --Red: #E5441E;
}
.text-color-black {
  color: var(--TextColorBlack);
}
#app {
	/* max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal; */
}

a {
	text-decoration: none;
  color: var(--Red);
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
	body {
		/* display: flex;
		place-items: center; */
	}

	#app {
		/* display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 2rem; */
	}
}


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('./fonts/Poppins-SemiBold.woff') format('woff'),
        url('./fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.woff2') format('woff2'),
        url('./fonts/Poppins-Medium.woff') format('woff'),
        url('./fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff'),
        url('./fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
  font-family: Poppins;
  background-color: var(--BodyBackground);
  color: var(--White);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center top !important;
}
body.login, body.get-started, body.location-details {
    background: url(/src/assets/images/BHP_Home_Image.png);
}
body.get-started {
    height: 100vh;
}
.nav-link {
  color: var(--TextColorBlack);
}
/* .bg-color1 {
  background-color: #FEF4F0;
}
.bg-color2 {
  background-color: rgb(15 13 11 / 51%);
} */
/* .screen {
  background: url(./images/BHP_Home_Image.png);
  color: var(--White, #FFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
.login .screen-wrapper, .get-started .screen-wrapper, .map .screen-wrapper {
  padding: 0 24px;
  /* height: 100vh; */
  margin: 0 auto;
  /* overflow-y: scroll; */
}
.map .screen-wrapper {
  padding: 0 14px;
}
.map p {
  margin-bottom: 8px;
  /* padding: 0 15px; */
  color: var(--TextColorBlack);
}
.map a {
  margin-bottom: 10px;
  text-decoration: underline;
}
.map #locations {
  padding: 0 9px;
}
h1{
  color: var(--Primary);
  /* Heading */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 16px 0;
}
p {
  color: var(--White);
  /* Text */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}
.logo p {
  font-size: 14px;
  letter-spacing: 0.08px;
  font-weight: 600;
}
.login h1 {
  margin: 16px 0;
}
.login p {
  margin-bottom: 26px;
}
.login .logo {
  /* padding-top: 125px;
  padding-bottom: 68px; */
  padding-top: 35%;
  padding-bottom: 15%;
}
.login .form-floating{
  border-radius: 16px;
    background: rgba(43, 42, 41, 0.51);
    backdrop-filter: blur(5px);
/*    padding: 11px 16px;*/
  margin-bottom: 18px;
}
.login .form-floating>label{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  opacity: 0.8;
  border: none;
}
.login .form-floating>.form-control:focus~label{
  color: var(--White);
}
.login .form-floating>.form-control:not(:placeholder-shown)~label{
  color: var(--White);
}
.login .form-floating>.form-control:not(:placeholder-shown)~label::after, .login .form-floating>.form-control:focus~label::after{
  background-color: transparent !important;
/*  opacity: 0.8;*/
}
.login #email-address-wrapper {
  border-radius: 16px;
  background: rgba(43, 42, 41, 0.51);
  backdrop-filter: blur(5px);
  padding: 11px 16px;
}
.login #email-address {
  background-color: transparent;
  border: none;
  color: var(--White);
/*  padding-left: 0;
  padding-right: 0;*/
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
  color: var(--TextColorBlack) !important;
  background-color: var(--Primary) !important;
  height: 56px;
  /* padding: 12px 49px; */
  width: 340px;
  max-width: 100%;
  border: 0;
  border-radius: 30px;
  /* margin-top: 24px; */
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.login .btn-primary {
  margin-top: 24px;
}
.login .form-label {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.05px;
  opacity: 0.8;
}
.login .form-control:focus {
  box-shadow: none;
}
.login .form-check-label {
  color: var(--White);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  padding-left: 11px !important;
}
.login .form-check-label:after {
  color: var(--White);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.login .form-check-label a {
  color: var(--White);
  text-decoration: underline;
}
.login .form-check-input {
  width: 16px;
    height: 16px;
    border-radius: 50% !important;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid var(--White);
    appearance: none;
    -webkit-appearance: none;
    outline: none !important;
    cursor: pointer;
    margin: 0 !important;
}
.login .form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='rgb(0 0 0)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: var(--Primary);
}
.login .form-check-input:focus {
    border-color: var(--White);
    outline: 0;
    box-shadow: none;
}
.get-started .logo {
  width: 215px;
  padding-top: 54px;
}
.get-started .logo p {
  padding-left: 6px;
  border-left: 1px solid #ffffff96;
  font-size: 12px;
  line-height: 14px;
}
.get-started h1 {
  margin-top: 12px;
  margin-bottom: 18px;
}
.get-started p {
  font-size: 14px;
  margin-bottom: 8px;
}
.how-it-works {
    background: var(--White);
    color: var(--TextColorBlack);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 14px 16px 20px;
    margin-top: 24px;
    margin-bottom: 20px;
}
/* .how-it-works:before, .how-it-works:after {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffb1a3;
}
.how-it-works:after {
  left: unset;
  right: 0;
} */
.how-it-works > div {
  margin-bottom: 16px;
  gap: 10px;
}
.how-it-works p {
  margin-bottom: 0;
  color: var(--TextColorLightBlack);
  opacity: 0.8;
}
.how-it-works h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding-left: 6px;
  margin-bottom: 16px;
  color: var(--TextColorBlack);
}
.how-it-works img {
  width: 48px;
  height: 48px;
}



/* .splash {
    height: 100vh;
    background-color: #FEF4F0;
} */
/* .splash .screen-wrapper {
  padding: 40px;
} */
.splash .logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 222px;
}
.splash .logo p {
  color: var(--TextColorBlack);
}
.splash .logo p, .login .logo p {
  max-width: 190px;
  margin-top: -40px !important;
}
/* .top-bar{
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background-color: #FFB1A3;
    opacity: .5;
}
.left-bar{
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFB1A3;
    opacity: .5;
}
.right-bar{
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #FFB1A3;
    opacity: .5;
}
.bottom-bar{
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    background-color: #FFB1A3;
    opacity: .5;
} */
/* .map #nav-tabs-content {
    padding: 45px 0;
} */
.map #nav-tabs {
    left: 50%;
    bottom: 18px;
    transform: translate(-50%, 10px);
    border: none;
    width: 325px;
    max-width: calc(100% - 20px);
    height: 68px;
    background-color: var(--Primary);
    border-radius: 35px;
    padding: 0 25px;
    /* opacity: 0.8; */
    z-index: 1;
}
.map #floor-tabs {
  padding-top: 35px;
    border: none;
}
.map #floor-tabs li {
  padding-top: 10px;
}
.map #floor-tabs .nav-link {
  background-color: var(--White);
  /* min-width: 84px; */
  line-height: 34px;
  border-radius: 34px;
  font-size: 12.8px;
  font-weight: 500;
  padding: 0 13px;
  border: none;
}
.map #floor-tabs .nav-link.active {
    background-color: var(--Primary) !important;
}
.map #nav-tabs .nav-link{
  border: none;
  padding: 0;
}
.map #nav-tabs .nav-link.active, .map #nav-tabs .nav-link:focus, .map #floor-tabs .nav-link.active, .map #floor-tabs .nav-link:focus {
  background-color: transparent;
}
.map #nav-tabs img {
  width: 65px;
}
/* .map #nav-tabs .nav-link img:first-child {
  display: none;
} */
.map #nav-tabs .nav-link.active img:first-child {
  display: none;
}
.map #nav-tabs .nav-link.active img:last-child {
  display: block !important;
}
.map #nav-tabs .nav-link img:last-child {
  display: none;
}
/* #floor-tabs-content {
  padding: 0 40px;
} */
/* .left-center-text {
  rotate: -90deg;
  left: -36px;
  top: 47%;
  font-size: 10.041px;
  font-weight: 600;
  z-index: 1;
}
.right-center-text {
  rotate: -90deg;
  right: -50px;
  top: 47%;
  font-size: 10.041px;
  font-weight: 600;
  z-index: 1;
} */
.info-card {
  width: 335px;
  max-width: calc(100% - 30px);
  background-color: var(--White);
  color: var(--TextColorBlack);
  transform: translate(-50%, 0);
  left: 50%;
  border-radius: 8px;
  bottom: 107px;
  gap: 8px;
  overflow: hidden;
}
.info-card .strong {
  font-size: 16px;
font-weight: 600;
line-height: 150%;
}
.info-card .text {
  font-size: 12px;
font-weight: 500;
}
#scan-qr-code {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.map .logo p {
  max-width: 150px;
  margin-top: -28px !important;
  font-size: 10px;
  font-weight: 600;
}
.map .plr-10 {
  padding: 0 10px;
}
.map .logo {
  padding-top: 40px;
  padding-bottom: 24px;
}
.tab-content>.tab-pane > img {
  padding: 10% 0;
}
.cta-image-credits {
  color: var(--TextColorBlack);
  text-decoration: underline;
}
/* .cta-image-credits {
  width: 358px;
  height: 62px;
  padding: 19px;
  border-radius: 24px;
  background: rgba(255, 254, 254, 0.80);
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  color: black;
}
.cta-image-credits a {
  position: absolute;
  text-align: center;
  line-height: 62px !important;
  left: 0;
  bottom: 0;
  right: auto;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
  color: black;
} */
.cta-image-credits svg {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translate(0, -50%);
}
.logout {
  opacity: 0.8;
  width: 357px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: transparent !important;
  border: 1px solid var(--Primary);
}

@media (max-width: 335px) {
  .logout {
    margin-bottom: 100px;
  }
}
.location-details {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}
.location-details div.position-fixed {
  bottom: 53px;
  left: 0;
  padding: 0 16px;
}
.location-details h2 {
  font-size: 32px;
font-weight: 600;
line-height: 120%;
margin-bottom: 8px;
}
.location-details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.07px;
}
.screen img.position-fixed {
  width: 48px;
  top: 64px;
  right: 24px;
}
.image-credits {
  background: none;
}
.image-credits .screen-wrapper {
  padding: 64px 16px 0;
  color: var(--TextColorBlack);
}
.image-credits .top-card {
  margin: 0 8px 24px;
}
.image-credits h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.image-credits .list > div {
  padding: 16px;
  border-radius: 20px;
  background: var(--White);
  box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  gap: 8px;
}
.image-credits h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.06px;
  margin-bottom: 4px;
}
.image-credits p {
  font-size: 8px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.006px;
}
.image-credits img {
  width: 64px;
  border-radius: 16px;
}


